@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import 'variables';


// Primary color
$primary_color: #C4FF00;

// Secondary color
$secondary_color: #9537E0;

$special_black: #020202;


body {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: $special_black;
    color: #ffffff !important
}


/* // Typography */

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.fs-1 {
    font-size: 20px !important
}

.fs-2 {
    font-size: 18px !important
}

.fs-3 {
    font-size: 16px !important;
    line-height: 26px;
}

.fs-4 {
    font-size: 14px !important
}

.fw-100 {
    font-weight: 100 !important
}

.fw-200 {
    font-weight: 200 !important
}

.fw-300 {
    font-weight: 300 !important
}

.fw-400 {
    font-weight: 400 !important
}

.fw-500 {
    font-weight: 500 !important
}

.fw-600 {
    font-weight: 600 !important
}

.fw-semi-bold {
    font-weight: 600 !important
}

.fw-extra-bold {
    font-weight: 800 !important
}

i {
    font-size: 32px;
}


/* Tablet Media Query */

@media (min-width:768px) and (max-width:991px) {

    h1 {
        font-size: 38px
    }

    h2 {
        font-size: 26px
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    .fs-1 {
        font-size: 18px !important
    }

    .fs-2 {
        font-size: 16px !important
    }

    .fs-3 {
        font-size: 14px !important;
        line-height: 24px
    }

    .fs-4 {
        font-size: 14px !important
    }

    blockquote {
        font-size: 18px !important;
    }

}


/* Mobile Media Query */

@media screen and (max-width:767px) {
    h1 {
        font-size: 20px
    }

    h2 {
        font-size: 20px
    }

    h3 {
        font-size: 18px
    }

    h4 {
        font-size: 16px
    }

    h4 {
        font-size: 14px
    }

    .fs-1 {
        font-size: 14px !important
    }

    .fs-2 {
        font-size: 14px !important
    }

    .fs-3 {
        font-size: 14px !important;
        line-height: 24px
    }

    .fs-4 {
        font-size: 12px !important
    }

    .w-md-100 {
        width: 100%
    }

    blockquote {
        font-size: 14px !important;
    }

}


/* Color Theme */


/* // Colors */

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.black-color {
    color: $special_black !important
}

.light-primary-color {
    color: #FAFBFF
}

.dark-grey-color {
    color: #3C3C3C
}

.light-grey-color {
    color: #F0F0F0
}

.grey-color {
    color: #CCCCCC
}

.white-color {
    color: #fff
}


/* //  Hover Colors */


.white-color:hover {
    color: #fff !important
}

.primary-color:hover {
    color: $primary-color !important
}

.secondary-color:hover {
    color: $secondary_color !important
}

/* // Background Colors */

.primary-bg {
    background-color: $primary-color
}

.secondary-bg {
    background-color: $secondary_color
}

.grey-bg {
    background-color: #CCCCCC
}

.black-bg {
    background-color: $special_black
}

.dark-grey-bg {
    background-color: rgba(60, 60, 60, 0.5)
}

.dark-grey-bg-7o {
    background-color: rgba(60, 60, 60, 0.7)
}

.header-bg {
    background-color: #0000006e;
}

.transparent-bg {
    background-color: transparent !important
}

.dark-grey-bg-100 {
    background-color: #3C3C3C !important
}

p {
    color: #fff;
}

/* // Buttons */

button {
    box-shadow: none;
    border: none
}

.primary-btn {
    background-color: $primary-color;
    color: $secondary_color;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

.secondary-btn {
    background-color: $secondary_color;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

.button {
    background-color: $primary-color !important;
    color: $secondary_color !important;
    padding: 15px 30px !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}


.secondary-btn:hover {
    color: #fff !important
}

.primary-btn:hover,
.button:hover {
    color: $secondary_color !important
}

.black-btn {
    background-color: $special_black;
    color: #fff !important
}

.danger-btn {
    background-color: $special_black;
    color: #fff !important;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.category-filter:hover,
#all-posts-filter:hover {
    background-color: $primary-color;
}

.category-filter.active {
    background-color: $primary-color;
    color: $secondary_color !important
}

#all-posts-filter.active {
    background-color: $primary-color;
    color: $secondary_color !important
}


.bt1px {
    border-top: 1px solid $special_black;
}

.bl1px {
    border-left: 1px solid #3C3C3C;
}

.br1px {
    border-right: 1px solid #F9F9F9;
}

.bb4px {
    border-bottom: 4px solid $primary-color;
}

.br-4 {
    border-radius: 4px !important
}

.br-14 {
    border-radius: 14px !important
}


.br-50p {
    border-radius: 50%
}

.bsy-1 {
    border: 1px solid #d9d9d9
}

.bpy-1 {
    border: 1px solid #662e77
}

.bg-top-1 {
    border-top: 1px solid #CCCCCC
}

.p-10 {
    padding: 10px !important
}

li {
    list-style: none
}

a,
.back-btn,
.make-default-payment-method-btn {
    cursor: pointer;
}


blockquote {
    color: $primary-color;
    font-weight: bold !important;
    font-size: 20px;
    background-color: revert !important;
    border-left: 2px solid $primary-color;
    padding: 0 30px;
    margin: 30px 0
}


.hero-banner {
    height: 772px
}

.pagetitle-background {
    height: 410px;
}

// .sign-in-up-banner {
//     height: 675px
// }

.cta-banner {
    height: 400px
}

.banner-404 {
    height: 655px
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.knowledge-img img {
    height: 290px;
}

.header-navigation .primary-btn {
    padding: 10px 40px;
}

// .header-navigation {
//     position: absolute;
//     top: 0;
//     z-index: 1000;
//     width: 100%
// }

.dev-agency a {
    color: #fff;
}

.social-links a {
    color: #fff;
    padding: 0 7px
}

.social-links i {
    font-size: 18px;
}

select#mobile-filter-dropdown {
    width: 288px !important;
    max-width: 288px !important;
    // max-width: calc(100% - 50px) !important;
    margin: 0 auto;
    border: none !important;
    box-shadow: none;
}

select#mobile-filter-dropdown option {
    background-color: #3C3C3C
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

input::placeholder {
    color: $special_black !important;
    font-size: 14px;
}

.search-bar input {
    flex: 0 0 173px !important;
    /* flex-grow: 0, flex-shrink: 0, flex-basis: 173px */
    width: 173px !important
}

.search-bar {
    justify-content: end;
    flex-wrap: nowrap
}


.git-form input[type="text"],
.git-form input[type="email"],
.git-form input[type="tel"],
.git-form textarea {
    background: #4c4c4c;
    padding: 20px 20px;
    border: none;
    box-shadow: none;
    color: #fff !important;
    border-radius: 4px;
    width: 100%;
}


.woocommerce form .form-row input,
.woocommerce form .form-row textarea {
    background: #4c4c4c;
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    color: #fff !important;
    border-radius: 4px;
    width: 100%;
}

.woocommerce-cart .woocommerce-form-login__rememberme,
.woocommerce-checkout .woocommerce-form-login__rememberme {
    display: none !important;
}


.woocommerce form .form-row .selection span .select2-selection__rendered {
    background-color: #4c4c4c !important;
    color: #fff !important
}

.woocommerce-checkout .woocommerce-form__input-checkbox {
    width: revert !important;
}

.woocommerce-checkout .woocommerce-terms-and-conditions-checkbox-text {
    color: #fff !important;
}

.woocommerce-checkout .woocommerce-terms-and-conditions-checkbox-text a {
    color: $primary_color !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
    border: none !important;
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
    border-radius: 4px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
    background-color: $special_black;
    color: #fff !important
}

.select2-search--dropdown {
    background-color: $primary-color !important;
    padding: 1px !important;
}

//  border-radius: 4px
//    border: none;
//     box-shadow: none;
//  padding: 20px 20px;


.git-form input[type="text"]::placeholder,
.git-form input[type="email"]::placeholder,
.git-form input[type="tel"]::placeholder,
.git-form textarea::placeholder {
    color: #fff !important;
    font-size: 16px
}

:focus-visible {
    outline: none !important;
}

.woocommerce form input::placeholder,
.woocommerce form textarea::placeholder {
    color: #fff !important;
    font-size: 14px !important
}

.select2-results__options {
    background-color: $special_black !important;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
    background-color: $primary-color !important;
    color: $special_black !important
}

.woocommerce form .form-row .required,
.woocommerce form .form-row.woocommerce-invalid label {
    color: $primary-color !important
}

.woocommerce-checkout form label {
    color: $primary-color !important;
    font-weight: bold !important
}

.git-form p {
    margin: 0 !important
}

p.lost_password a {
    color: $primary-color !important
}

.woocommerce-message a {
    color: $primary-color !important
}


.woocommerce-cart .product-thumbnail {
    display: none !important;
}

.blockUI.blockOverlay {
    background: $primary-color !important;
    opacity: 0.2 !important;
}


/* Swiper */

.mobile-visible,
.mobile-visible-pagination {
    display: none !important;
}

.testimonial-carousel .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide.swiper-slide-next {
    background-color: #3C3C3C
}

.info-support-filter .primary-btn {
    padding: 15px 20px
}


.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    height: revert !important;
    width: revert !important
}

.navbar-toggler-icon i {
    font-size: 18px !important
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none
}

.accordion-item {
    border: none !important
}

.accordion-button:focus {
    border-color: none !important;
    outline: 0 !important;
    box-shadow: none !important
}

.accordion-button::after {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23C4FF00"%3e%3cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e');
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-size: 1rem !important;
    height: 1rem !important;
    width: 1rem !important
}

/* Sign-in Form */

.sign-in-form .form-check-input[type=checkbox] {
    background: transparent !important;
    border-radius: 0 !important;
    border: 1px solid #969696;
    box-shadow: none !important;
    outline: 0
}

.sign-in-form .form-check-input:checked {
    border-color: $primary-color !important;
}

.sign-in-form .form-check-input:checked[type=checkbox] {
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\'%3e%3cpath fill=\'%23C4FF00\' stroke=\'%23fff\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'3\' d=\'M6 10l3 3l6-6\'/%3e%3c/svg%3e') !important;
}

.signin-column-size {
    width: 405px;
}

.git-column-size {
    width: 480px
}

.signup-column-size {
    width: 665px
}

.changepersonal-form-box {
    width: 665px
}

.add-payment-method-form-box {
    width: 427px
}

.form-control:focus {
    border-color: $primary-color;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: $primary-color;
    outline: 0;
    box-shadow: none;
}

.forget_password_form {
    /* Initially hide the form */
    transition: opacity 0.5s ease;
    /* Add a smooth transition */
}

.forget_password,
.go-back-sign-in-cta {
    cursor: pointer
}

span.wpcf7-list-item.first {
    margin-left: 0 !important;
}

.signup-column-size {
    display: none;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: $special_black ;
}


/* Dashboard Style */

.nav-link:focus,
.nav-link:hover,
.nav-link,
.post_date a {
    color: #ffffff;
}

.navigation-tabs-db i {
    color: $primary_color;
}

div.nav-pills button.active,
div.nav-pills button:hover {
    background-color: $special_black !important;
    color: white;
}

/* #v-pills-tab button.active{
    background-color: #$primary_color !important;
    color: $special_black !important;
}
#v-pills-tab button.active i{
    color: $special_black !important;
} */

#v-pills-tab button.active {
    background-color: transparent !important;
}

#v-pills-tab button {
    padding: 0 !important;
}

div.nav-pills button {
    border-radius: 0 !important;
    color: $special_black;
}

#v-pills-tabContent {
    height: 100vh;
}

.remove-payment-method-button {
    color: #FF8686 !important;
}

.add-payment-method-section {
    display: none;
}

.add-payment-method-form-box img {
    width: 95px;
}

.payment-method-box.default {
    background-color: $primary-color !important;
}

.payment-method-box.default a,
.payment-method-box.default p {
    color: $special_black !important;
}

.payment-method-box.default .make-default-payment-method-btn,
.payment-method-box.default .remove-payment-method-button {
    font-weight: bold !important;
}

.payment-method-box.default img {
    filter: invert(100%);
}

.payment-method-box.default .remove-payment-method-button {
    color: #FF8686 !important;
}

// header{
// display: none;
// }

/* Style the radio button wrapper */
.wpcf7 .wpcf7-list-item {
    display: inline-block;
    margin-right: 10px;
    /* Adjust as needed */
}

/* Hide the actual radio button */
.wpcf7 input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* Style the radio button label */
.wpcf7 input[type="radio"]+span:before {
    content: "";
    display: inline-block;
    width: 15px;
    /* Adjust as needed */
    height: 15px;
    /* Adjust as needed */
    border: 2px solid #ccc;
    /* Border color */
    border-radius: 50%;
    /* Make it round */
    margin-right: 5px;
    /* Adjust as needed */
    vertical-align: middle;
}

/* Style the radio button label when checked */
.wpcf7 input[type="radio"]:checked+span:before {
    background-color: $primary-color;
    /* Change to desired color */
    border-color: $primary-color;
    /* Change to desired color */
}

.terms-privacy-menu ul {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row !important
}

.subscription-form input {
    padding: .375rem .75rem;
    border-radius: 4px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none
}

.subscription-form input.primary-btn {
    font-weight: bold !important;
    margin-left: 10px;
}

.subscription-form p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

input:focus-visible,
textarea:focus-visible {
    outline: none !important;
}

.subscription-form [type="email"] {
    width: 100%;
}

#filtered-posts-container {
    width: -webkit-fill-available;
}

.category .search-form {
    display: none !important;
}


#loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.woocommerce-checkout h3 {
    font-weight: bold !important;
    color: $primary_color !important;
}

#order_review_heading {
    margin-top: 50px !important;
}

// Woocommerce MyAccount Style


.woocommerce-MyAccount-navigation-link--customer-logout {
    margin-top: 50px !important;
}

.woocommerce-page {
    background-color: $special_black !important;
    background-image: none !important;
    height: 100vh
}

.woocommerce-MyAccount-navigation-link--edit-address,
.woocommerce-MyAccount-navigation-link--edit-account,
.woocommerce-MyAccount-navigation-link--shop,
.logged-in.woocommerce-account footer .row,
.no_subscriptions,
.woocommerce-MyAccount-navigation-link--payment-methods {
    display: none !important;
}

.logged-in.woocommerce-account footer .pre-footer {
    display: flex !important;
    padding: 0 !important;
}

.logged-in.woocommerce-account footer {
    border-top: 1px solid #3C3C3C;
}

.nav-menu-dashboard {
    height: 100vh;
    overflow: hidden;
    /* Hide scrollbar */
}

.nav-menu-dashboard::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Webkit browsers */
}

.nav-menu-dashboard {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    overflow-y: scroll;
    /* Enable scrolling */
}


.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: none !important;
    padding: 0;
    margin: 0;
    text-align: inherit;
    border-radius: 0 !important
}

.sign-in-cta span,
.sign-up-cta span {
    cursor: pointer;
}

.woocommerce-privacy-policy-text {
    display: none !important;
}

.features_data_box-column {
    border-left: 1px solid $special_black;
}

.d-btn {
    height: 45px;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center
}

.woocommerce-info {
    border-top-color: $primary_color;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background-color: $special_black;
    color: #fff;
    border-top: 3px solid $primary_color;
    font-weight: bold !important;
    padding-right: 0 !important
}

.woocommerce-info::before {
    color: $primary_color;
}


.woocommerce-Button.button {
    background-color: $primary_color !important;
    color: $secondary_color !important;
    padding: 15px 30px !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    text-align: center;
}

th,
td {
    font-size: 14px !important;
    padding: 10px !important;
    border: 1px solid #fff !important;
}

td a {
    color: #fff !important;
    text-decoration: underline !important
}

th i,
td i {
    font-size: 14px;
    position: absolute;
    right: 10px;
    cursor: pointer
}

table.dataTable tbody tr {
    background-color: $special_black;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: $special_black;
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: $special_black;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: $special_black;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: $special_black;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: $special_black;
}

#orderTable tbody tr td:nth-child(3) {
    width: 450px;
    position: relative;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: $special_black;
    padding: 4px;
    color: #fff !important;
    box-shadow: none;
    margin: 0 5px;
    outline: none !important;
}

.dataTables_wrapper .dataTables_length select:focus {
    outline: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 4px;
    color: $special_black;
    padding: 4px;
    background-color: white;
    border: none !important;
}

#orderTable,
.dataTables_paginate {
    padding-top: 20px !important;
}


.date-box-from,
.date-box-to,
.sort-box,
.search-box {
    background-color: #fff;
    border-radius: 4px;
    color: $special_black;
    padding: 5px;
    margin: 0px 5px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters input {
    border: none;
    border-left: 1px solid #F0F0F0 !important;
    padding: 5px 0px 5px 10px;
    text-transform: uppercase
}

.filters label {
    padding: 5px 10px 5px 0px;
}

.filters label,
.filters input {
    font-size: 14px !important;
}

.search-box input {
    border: none !important;
}

.search-box {
    display: flex !important;
    padding-top: 0;
    padding-bottom: 0 !important;
    padding: 0;
    justify-content: space-between;
}

.search-box input {
    text-transform: capitalize !important;
}

.sort-box {
    width: 10%;
}

.search-box i {
    padding: 5px 10px;
    background: $primary_color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sort-box select {
    width: 100% !important;
    display: flex;
    justify-content: center;
    border: none;
    height: 100%;
}

.sort-box select:focus {
    border: none !important;
    outline: none !important;
}

.woocommerce-orders-table,
#orderTable_info {
    display: none !important;
}

.search-box {
    display: none !important;
}

.paginate_button {
    background-color: $primary_color !important;
    color: $secondary_color;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 10px;
    border: none !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #fff !important;
    color: $special_black !important;
    border-radius: 4px;
    font-weight: bold !important;
    border: none !important;
}


.paginate_button.disabled {
    opacity: 50% !important;
}

.download-img-box img {
    width: 150px;
}

.woocommerce-message::before {
    color: $primary_color !important;
}

#add_payment_method .cart-collaterals .cart_totals table small,
.woocommerce-cart .cart-collaterals .cart_totals table small,
.woocommerce-checkout .cart-collaterals .cart_totals table small {
    color: $primary_color !important;
}

.cart_totals h2,
td.product-name a {
    font-weight: bold !important;
    text-decoration: none !important;
}

.woocommerce a.remove,
.woocommerce a.remove:hover {
    color: $primary_color !important;
    background: transparent !important;
}

.woocommerce-error::before {
    color: $primary_color !important;
}

.sign-in-link {
    display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 !important;
}

.page-id-111 .view-more-btn-row {
    display: none !important;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color: $primary_color !important;
    color: $special_black !important;
}

#add_payment_method #payment div.payment_box a,
.woocommerce-cart #payment div.payment_box a,
.woocommerce-checkout #payment div.payment_box a {
    color: $special_black !important;
}

#add_payment_method #payment div.payment_box p,
.woocommerce-cart #payment div.payment_box p,
.woocommerce-checkout #payment div.payment_box p {
    color: $special_black !important;
}

.logged-in .user-login-box {
    display: none !important;
}

.user-signout-box {
    display: none !important;
}

.logged-in .user-signout-box {
    display: flex !important;
}

.header-navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
}

.header-navigation {
    background-color: $special_black !important;
}

.home .header-navigation {
    background-color: #0000006e !important;
}

.woocommerce-page .woocommerce {
    margin-top: 70px;
}

.woocommerce-message .button {
    color: $secondary_color !important;
}

.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
    background-color: $primary_color !important;
    border-color: $primary_color !important;
    color: $special_black !important;
}

.woocommerce-password-strength.strong {
    background-color: $secondary_color !important;
    border-color: $secondary_color !important;
}

.woocommerce-MyAccount-navigation-link--dashboard .endpoint-links {
    display: none !important;
}

.search .container{
    margin-top: 50px !important;
}

.search footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#orderTable_wrapper{
padding: 0 !important;    
}
.woocommerce-checkout form .woocommerce-SavedPaymentMethods-new label{
color: $special_black !important;
}

.wc_payment_method a {
    font-weight: bold;
}
.wc_payment_methods .woocommerce-info a {
    color: $primary_color !important;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1240px !important;
    }
}

@media (min-width: 1400px) {

    .woocommerce-account .container,
    .woocommerce-account .container-lg,
    .woocommerce-account .container-md,
    .woocommerce-account .container-sm,
    .woocommerce-account .container-xl,
    .woocommerce-account .container-xxl {
        max-width: 1360px !important;
    }
}


@media screen and (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 95%;
        background: $special_black;
        left: 0;
        right: 0;
        height: 100vh;
        padding: 0;
    }

 
    ul.main-navigation-menu li {
        padding: 15px 0px;
    }

    .menu-col {
        width: 100% !important;
        position: absolute;
        right: 0;
        padding: 0;
    }
    .main-navigation-menu {
        height: 100vh;
        justify-content: center !important;
        border: none;
        padding: 0 !important;
        margin: 0 !important;
    }
    .home .header-navigation {
        background-color: $special_black !important;
    }
}

@media screen and (min-width: 992px){
    .menu-col .navbar {
        flex-direction: row !important;
    }
}
@media (min-width: 992px) and (max-width:1220px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: column !important;
    }
}


/* Media Queries  */


@media screen and (max-width:767px) {
    .hero-banner {
        height: 420px;
        margin-top: 50px;
    }

    .cta-banner {
        height: 400px;
    }

    .sign-in-up-banner {
        height: revert !important
    }

    .pagetitle-background {
        height: 190px !important;
        margin-top: 50px;
    }

    .secondary-btn,
    .primary-btn,
    .danger-btn,
    .button {
        width: 100%;
    }

    .knowledge-img img {
        height: 240px;
    }

    .banner-404 {
        height: 420px
    }

    .mobile-hidden,
    .sign-in-btn {
        display: none !important
    }

    .mobile-visible-pagination {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 20px auto
    }

    .mobile-visible {
        display: flex !important;
    }

    .testimonial-carousel {
        width: calc(100% - 30px) !important;
        margin-right: 15px !important;
        margin-left: 15px !important
    }

    .mobile-visible-pagination .swiper-button-prev:after,
    .mobile-visible-pagination .swiper-button-next:after {
        visibility: hidden !important;
    }

    .mobile-compressed-btn {
        width: revert !important;
    }

    .header-navigation .primary-btn {
        padding: 5px 15px;
        font-size: 14px !important;
    }

    .w-70 {
        width: 100% !important;
    }

    .social-links a {
        color: #fff;
        padding: 0 14px 0 0
    }

    .cta-banner {
        background-image: url('https://mywebsitedeveloper.co.uk/staging-websites/17110-vampire-squid-wp/wp-content/uploads/2024/04/CTAmobile-bg.svg') !important;
    }

    .search-bar {
        justify-content: center !important
    }

    .primary-btn,
    .button {
        padding: 10px 25px;
        font-size: 14px
    }

    .secondary-btn,
    .danger-btn {
        padding: 10px 25px;
        font-size: 14px
    }

    .header-bg {
        background-color: $special_black !important;
    }

    blockquote {
        padding: 0 20px;
        margin: 35px 0;
    }

    #v-pills-tab {
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    #v-pills-tabContent section {
        border: none !important;
    }

    .tabs-content-wrapper {
        padding: 0 !important;
    }

    .download-img-box div {
        width: 50%;
    }

    .product_box .primary-btn {
        padding: 10px !important;
    }

    .features_data_box-column {
        width: 25% !important;
        border: 1px solid #fff;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .features_data_box-column:nth-child(3) {
        width: 50% !important;
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .woocommerce-Button.button {
        margin-top: 10px !important;
    }

    .date-box-from,
    .date-box-to,
    .sort-box,
    .search-box {
        width: 100% !important;
        margin: 0 !important;
        margin-top: 5px !important;
    }

    .sign-in-link {
        display: block !important;
    }

    .logged-in.woocommerce-account .sign-in-link {
        display: none !important;
    }

    .subscription-form .primary-btn {
        width: 30% !important;
    }

    .footer ul li span {
        font-size: 14px !important;
    }

    .woocommerce-page .woocommerce {
        margin-top: 0px;
    }

}

/* Tablet */


@media (min-width:768px) and (max-width:991px) {

    .hero-banner {
        height: 500px;
    }

    .pagetitle-background {
        height: 300px;
    }
    .cta-banner {
        height: 300px;
    }

    .terms-privacy-menu ul {
        flex-direction: column;
        align-items: start !important;
    }


    .primary-btn,
    .button {
        padding: 10px 25px !important;
        font-size: 14px
    }

    .secondary-btn,
    .danger-btn {
        padding: 10px 25px !important;
        font-size: 14px
    }

    blockquote {
        padding: 0 20px;
        margin: 35px 0;
    }

    .features-section-db .col-md-5,
    .features-section-db .col-md-7 {
        width: 100% !important;
        justify-content: flex-start !important
    }

    .sign-in-link {
        display: none;
    }
    .knowledge-img img {
        height: 150px !important;
    }
    .subscription-form p{
        display: revert !important;
        text-align: right !important;
    }
    .subscription-form input.primary-btn{
        padding: 5px 15px !important;
        font-size: 14px !important;
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
    .date-box-from, .date-box-to, .sort-box, .search-box{
        width: 35% !important;
    }
    .sort-box {
        width: 15% !important;
    }
    .download-img-box img {
        height: 38px;
    }
    .woocommerce-page .woocommerce {
        margin-top: 90px !important;
    }

}